body {
    color: rgb(13, 204, 218);
    background: rgb(5, 5, 5);
    font-family: "New Amsterdam", sans-serif;
    margin: 0px;
    margin-bottom: 40px;
}
header {
    border-bottom: solid 2px blue;

    padding: 20px;

    font-size: 32px;

    color: cornflowerblue;
}

.chamada {
    background-color: blue;
    padding: 3px;
    margin-bottom: 40px;
    margin-top: 20px;
}

iframe {
    border-radius: 34px;
    margin-left: 10px;
    transition: all 0.5s;
}

iframe:hover {
    margin-left: 40px;
    scale: 1.1;
    transition: all 0.5s;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
img{
    height: 200px
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid navy;
}
.categoria h2{
    color:rgb(13, 204, 218)
}
